<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
        

		<bean id="injectionService" class="com.ssm.dao.impl.InjectionServiceImpl">
        	<constructor-arg value="injectionDAO1" ref="injectionDAO"/>
            <!--<property name="injectionDAO" ref="injectionDAO"/>-->
        </bean>
        
        <bean id="injectionDAO" class="com.ssm.dao.impl.InjectionDAOImpl"></bean>
        <bean id = "userDao" class="com.ssm.dao.UserDaoImpl" />

</beans>
